{# template père du bundle Blog #}
{% extends "::layout.html.twig" %}
{% block title %}
Blog - {{ parent() }}
{% endblock %}

{% block body %}
    {# sous-titre commun à tout le bundle #}
    <h1>Blog</h1>
    <hr />
    
    {# on définit un nouveau block que les vues du bundle pourront utiliser #}
    {% block blog_body %}
    {% endblock %}
{% endblock %}



