{% extends "GregBlogBundle::layout.html.twig" %}

{% block title %}
    Modifier un article - {{ parent() }}
{% endblock %}

{% block blog_body %}
<h2>Modifier un article</h2>
    {% include "GregBlogBundle:Blog:form_article.html.twig" %}
<p>
    Modification d'un article existant.
    Eviter trop de changement pour éviter que les lecteurs ne comprennent pas ce qu'il se passe
</p>

<p>
    <a href="{{ path('blog_voir', {'id': article.id}) }}" class="btn">
        <i class="icon-chevron-left"></i>
        Retour à l'article
    </a>
</p>

{% endblock %}