{# Variable temporaire, définie à false #}
{% set accueil = accueil|default(false) %}

<h3>
    {{ category.name }}
</h3>

{# On affiche les channels de cette catégorie #}
{% if category.channels.count > 0 %}
<div class="well well-small">
    Abonnements :
    <ul>
    {% for channel in category.channels %}
            <li>
        {% if accueil %}
            <a href="{{ path('reader_voir_channel', {'id': channel.id} ) }}">{{ channel.title }}</a>
        {% else %}
            {{ channel.title }}
        {% endif %}
            </li>
    {% endfor %}
    </ul>
</div>
{% endif %}