{% extends "GregReaderBundle::layout.html.twig" %}

{% block title %}
    Ajouter un abonnement - {{ parent() }}
{% endblock %}

{% block reader_body %}
    
<h2>Ajouter un abonnement</h2>
    {% include "GregReaderBundle:Reader:channel_form.html.twig" %}
<div class="alert alert-info">
    <p class="text-info">
        Cet abonnement sera ajouté directement sur la page d'accueil après validation
    </p>
</div>
{% endblock %}