{# empty Twig template #}
<h3>Détails de l'abonnement</h3>
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" />
    </form>
</div>