{% extends "GregReaderBundle::layout.html.twig" %}

{% block title %} 
Accueil - {{ parent() }} 
{% endblock %}

{% block reader_body %} 
<h4>{{ channel.title }}<small> >></small></h4>
{% include 'GregReaderBundle:Reader:item.html.twig' with {'accueil': true} %}
<div class="pagination">
    <ul>
     {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nbParPage) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('reader_voir_channel', {'id': channel.id, 'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}