<h3>
    {{ feed.title }}
</h3>

{# On affiche les feeds de cette sub #}

<div class="well well-small">

    <a href="{{ feed.link }}" target="_blank">{{ feed.title }}</a>
    <p>
        {{ feed.description }}
    </p>

</div>