{% extends "GregReaderBundle::layout.html.twig" %}

{% block title %} 
Accueil - {{ parent() }} 
{% endblock %}

{% block reader_body %} 
<h2>Liste des RSS</h2>

<ul>
    {% for category in categories %}
        {% include 'GregReaderBundle:Reader:category.html.twig' with {'accueil': true} %}
        <hr />
    {% else %}
        <li>Pas d'article pour le moment !</li>
    {% endfor %}
</ul>
{# <div class="pagination">
    <ul>
     On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b 
        {% for p in range(1, nbParPage) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('blog_accueil', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
</div> #}
{% endblock %}